@font-face {
  font-family: "Outfit";
  src: url("./Outfit-VariableFont_wght.ttf");
}


@font-face {
  font-family: "Press Start 2P";
  src: url("./Press_Start_2P/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "Space Mono";
  src: url(./Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: "Space Mono";
  src: url(./Space_Mono/SpaceMono-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url(./Space_Mono/SpaceMono-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Space Mono";
  src: url(./Space_Mono/SpaceMono-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}